/**
 * -----------------------------------------------------------------------------
 * $BREADCRUMB
 * -----------------------------------------------------------------------------
 */

.breadcrumb {
	padding: $spacing-small 0;

    color: $color-black;
    font-family: $font-family-heading;
    font-weight: $font-weight-default;
	list-style: none;
    text-transform: uppercase;

    a {
        color: $color-black;
        text-decoration: none;

        @include active-states {
            color: $color-purple;
        }
    }
}

    .breadcrumb__item {
        display: inline-block;

        &:after {
            content: " / ";

            color: $color-black;
        }
    }
