/**
 * -----------------------------------------------------------------------------
 * JUMBOTRON
 * -----------------------------------------------------------------------------
 */

.jumbotron {
    align-items: center;
    display: flex;
    height: 60vh;
    justify-content: center;
    position: relative;
    z-index: -3;

    animation: backgroundAnimation 60s linear infinite;
    animation-timing-function: ease-in-out;
    background-color: $color-secondary;
    background-image:
    url("/assets/toolkit/images/photographs/skate-1.jpeg"),
    url("/assets/toolkit/images/photographs/skate-2.jpeg"),
    url("/assets/toolkit/images/photographs/skate-3.jpeg"),
    url("/assets/toolkit/images/photographs/skate-1.jpeg"),
    url("/assets/toolkit/images/photographs/skate-2.jpeg"),
    url("/assets/toolkit/images/photographs/skate-3.jpeg");
    background-position: 0 center, 100vw center, 100vw center, 100vw center, 100vw center, 100vw 0;
    background-size: 100%;
    background-size: 100vw;
    background-repeat: no-repeat;
    color: $color-white;
    text-shadow: 0px 2px 10px rgba($color-black, 0.4);
}

.jumbotron > * {
    position: relative;
    z-index: 100;
}

.jumbotron:before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    background: linear-gradient(111.97838430426714deg, $color-secondary 4.927083333333334%, $color-tertiary 97.84374999999999%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

@supports (mix-blend-mode: multiply) {
    .jumbotron:before {
        mix-blend-mode: multiply;
        opacity: 1;
    }
}

@supports (mix-blend-mode: lighten) {
    .jumbotron--lighten:before {
        mix-blend-mode: lighten;
        opacity: 1;
    }
}

@supports (mix-blend-mode: overlay) {
    .jumbotron--overlay:before {
        mix-blend-mode: overlay;
        opacity: 1;
    }
}


@keyframes backgroundAnimation {
    0% { background-position: 0 center, 100vw center, 100vw center, 100vw center, 100vw center, 100vw 0; }
    10% { background-position: 0 center, 100vw center, 100vw center, 100vw center, 100vw center, 100vw 0; }
    16.6% { background-position: -100vw center, 0 center, 100vw center, 100vw center, 100vw center, 100vw 0; }
    26.6% { background-position: -100vw center, 0 center, 100vw center, 100vw center, 100vw center, 100vw 0; }
    33.2% { background-position: -100vw 100vh, -100vw center, 0 center, 100vw center, 100vw center, 100vw 0; }
    43.2% { background-position: -100vw 100vh, -100vw center, 0 center, 100vw center, 100vw center, 100vw 0; }
    50% { background-position: -100vw 100vh, -100vw center, -100vw center, 0 center, 100vw center, 100vw 0; }
    60% { background-position: -100vw 100vh, -100vw center, -100vw center, 0 center, 100vw center, 100vw 0; }
    66.6% { background-position: 100vw 100vh, -100vw center, -100vw center, -100vw center, 0 center, 100vw 0; }
    76.6% { background-position: 100vw 100vh, -100vw center, -100vw center, -100vw center, 0 center, 100vw 0; }
    83.3% { background-position: 100vw center, -100vw center, -100vw center, -100vw center, -100vw center, 0 0; }
    93.3% { background-position: 100vw center, -100vw center, -100vw center, -100vw center, -100vw center, 0 0; }
    100% { background-position: 0 center, -100vw center, -100vw center, -100vw center, -100vw center, -100vw 0; }
}
