/**
 * -----------------------------------------------------------------------------
 * $MAP
 * -----------------------------------------------------------------------------
 */

.map {
	min-height: calc(100vh - 92.7px);
	height: 100%;
}

.map__container {
	position: relative;
	overflow: hidden;
}

.map__location {
	height: 100%;
	max-width: 340px;
	padding: $spacing-default;
	position: absolute;
	right: -340px;
	top: 0;
	z-index: $z-index-default;

	background-color: $color-secondary;
	color: $color-white;
	transition: 0.2s right ease;

	a {
		color: $color-white;
	}

	h2 {
		margin: $spacing-small 0;
	}

	&--show {
		right: 0;
	}
}
