/**
 * -----------------------------------------------------------------------------
 * $SOCIAL
 * -----------------------------------------------------------------------------
 */

.wp-social-login-widget {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.wp-social-login-provider-list {
	display: flex;
	margin-left: auto;
	padding: 0;
}

.wp-social-login-provider-facebook,
.wp-social-login-provider-google,
.wp-social-login-provider-instagram,
.wp-social-login-provider-twitter {
	font-size: 0;
	position: relative;

	cursor: pointer;

	&:before {
		align-items: center;
		border-radius: $border-radius;
		display: flex;
		height: $spacing-large;
		justify-content: center;
		margin-left: $spacing-small;
		width: $spacing-large;

		background-color: $color-purple;
		border: none;
		border-radius: $spacing-tiny;
		color: $color-white;
		cursor: pointer;
		font-family: FontAwesome;
		font-size: 1rem;
		font-weight: $font-weight-bold;
	}

	&:hover {
		&:after {
			opacity: 0.3;
		}
	}

	&:after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		background-color: $color-white;
		opacity: 0;
		transition: 0.2s opacity ease;
	}
}

.wp-social-login-provider-facebook {
	&:before {
		content: "\f09a";
	}
}

.wp-social-login-provider-google {
	&:before {
		content: "\f0d5";
	}
}

.wp-social-login-provider-instagram {
	&:before {
		content: "\f16d";
	}
}

.wp-social-login-provider-twitter {
	&:before {
		content: "\f099";
	}
}
