/**
 * -----------------------------------------------------------------------------
 * $SOCIAL
 * -----------------------------------------------------------------------------
 */

.wp-social-login-widget {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.wp-social-login-provider-list {
	display: flex;
	padding: 0;
}

.wp-social-login-provider-facebook,
.wp-social-login-provider-google,
.wp-social-login-provider-instagram,
.wp-social-login-provider-twitter {
	font-size: 0;
	position: relative;

	&:before {
		align-items: center;
		border-radius: $border-radius;
		display: flex;
		height: $spacing-large;
		justify-content: center;
		margin-right: $spacing-small;
		width: $spacing-large;


		background: $color-tertiary;
		background: -moz-linear-gradient(top, $color-tertiary 0%, $color-quaternary 100%);
		background: -webkit-linear-gradient(top, $color-tertiary 0%, $color-quaternary 100%);
		background: linear-gradient(to bottom, $color-tertiary 0%, $color-quaternary 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6933', endColorstr='#e94d35',GradientType=0 );
		border: none;
		border-radius: $spacing-tiny;
		color: $color-white;
		cursor: pointer;
		font-family: "Font Awesome\ 5 Brands", "Arial", sans-serif;
		font-size: 1rem;
		font-weight: $font-weight-bold;
	}

	&:hover {
		&:after {
			opacity: 0.3;
		}
	}

	&:after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		background-color: $color-white;
		opacity: 0;
		transition: 0.2s opacity ease;
	}
}

.wp-social-login-provider-facebook {
	&:before {
		content: "\f39e";
	}
}

.wp-social-login-provider-google {
	&:before {
		content: "\f0d5";
	}
}

.wp-social-login-provider-instagram {
	&:before {
		content: "\f16d";
	}
}

.wp-social-login-provider-twitter {
	&:before {
		content: "\f099";
	}
}
