/**
 * -----------------------------------------------------------------------------
 * $ANCHOR
 * -----------------------------------------------------------------------------
 */

a,
.link {
	color: $color-purple;
	text-decoration: none;

	transition: 0.2s color ease;

	@include active-states() {
		color: lighten($color-purple, 20%);
	}
}

.link--blend {
	color: inherit;
}

article {
	a {
		text-decoration: underline;
	}
}
