/**
 * -----------------------------------------------------------------------------
 * $BUTTON
 * -----------------------------------------------------------------------------
 */

[type="button"],
[type="reset"],
[type="submit"],
button,
.button--primary {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	margin-top: $spacing-default;
	padding: $spacing-small $spacing-default;
	position: relative;

	background: $color-tertiary;
	background: -moz-linear-gradient(top, $color-tertiary 0%, $color-quaternary 100%);
	background: -webkit-linear-gradient(top, $color-tertiary 0%, $color-quaternary 100%);
	background: linear-gradient(to bottom, $color-tertiary 0%, $color-quaternary 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6933', endColorstr='#e94d35',GradientType=0 );
	border: none;
	border-radius: $spacing-tiny;
	color: $color-white;
	cursor: pointer;
	font-weight: $font-weight-bold;

	@include active-states() {
		&:before {
			opacity: 0.3;
		}
	}

	&:before {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		background-color: $color-white;
		opacity: 0;
		transition: 0.2s opacity ease;
	}
}

button[disabled],
.button--disabled {
	background: #c7c7c7;
	background: -moz-linear-gradient(top, #c7c7c7 0%, #c1c1c1 100%);
	background: -webkit-linear-gradient(top, #c7c7c7 0%,#c1c1c1 100%);
	background: linear-gradient(to bottom, #c7c7c7 0%,#c1c1c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#c1c1c1',GradientType=0 );
	cursor: initial;

	@include active-states() {
		&:before {
			opacity: 0;
		}
	}
}

.button--secondary {
	background: $color-white;
	border: 1px solid $color-tertiary;
	color: $color-tertiary;
}

.simplefavorite-button {
	padding: 0;

	background: none;
	border: none;
	cursor: pointer;
	color: $color-black;
	opacity: 1;
	transition: 0.2s opacity ease;

	@include active-states() {
		background: none;
		opacity: 0.6;
	}

	&.active i {
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(248, 188, 79, 1)),
			to(rgba(211, 21, 87, 1))
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: rgba(211, 21, 87, 1);
	}
}
