/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

footer {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding: $spacing-default;

	background-color: $color-primary;
	color: $color-white;

	a {
		color: $color-white;

		@include active-states() {
			color: darken($color-white, 20%);
		}
	}

	li ~ li {
		margin-top: $spacing-tiny;
	}

	@include bp-min-width($bp-tablet) {
		flex-direction: row;
	}
}

.footer__content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;

		color: $color-white;
		font-family: $font-family-default;
		font-size: 1rem;
		font-weight: $font-weight-bold;
		letter-spacing: 0.2px;
		text-transform: uppercase;
	}

	a {
		color: $color-grey-light;
		transition: 0.2s color ease;

		@include active-states() {
			color: $color-white;
		}
	}

	@include bp-min-width($bp-tablet) {
		~ .footer__content {
			margin-left: $spacing-large;
		}
	}
}
