/**
 * -----------------------------------------------------------------------------
 * $FOOTER
 * -----------------------------------------------------------------------------
 */

footer {
	align-items: flex-start;
	display: flex;
	padding: $spacing-default;

	background-color: $color-primary;
	color: $color-white;

	a {
		color: $color-white;

		@include active-states() {
			color: darken($color-white, 20%);
		}
	}
}
