/**
 * -----------------------------------------------------------------------------
 * $FORM
 * -----------------------------------------------------------------------------
 */

form {
	margin-top: $spacing-large;

	color: $color-black;
}

label {
	display: block;
	margin-bottom: $spacing-small;

	color: rgba($color-black, 0.7);
	font-size: 0.8rem;
	text-transform: uppercase;

	& ~ label {
		margin-top: $spacing-default;
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	background: rgba($color-black, 0.02);
	padding: $spacing-small;
	border: 1px solid $color-primary;
}

textarea {
	min-height: 200px;
	width: 100%;

	resize: vertical;
}

input[type="radio"] {
	display: none;

	& + label {
		display: inline-block;
		margin-top: 0;
		padding: $spacing-tiny $spacing-small;
		position: relative;

		border: 2px solid transparent;
		cursor: pointer;
		transition: 0.1s all ease;
	}

	&:checked {
		& + label {
			background-color: $color-grey-light;
			border-color: $color-primary;
			color: $color-secondary;
			font-weight: $font-weight-bold;
		}
	}
}
