/**
 * -----------------------------------------------------------------------------
 * $FORM
 * -----------------------------------------------------------------------------
 */

fieldset {
	padding: $spacing-default;
	border-color: $color-grey-lightest;
    border-style: solid;
}

form {
	margin-top: $spacing-large;

	color: $color-black;
}

label {
	display: block;
	margin-bottom: $spacing-small;

	color: rgba($color-black, 0.7);
	font-size: 0.8rem;
	text-transform: uppercase;

	& ~ label {
		margin-top: $spacing-default;
	}
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select {
	border-radius: $border-radius;
	display: block;
	min-height: 44px;
	padding: $spacing-small $spacing-default;
	width: 100%;

	background: $color-white;
	border: 1px solid $color-grey-light;
	color: $color-grey;
	transition: border-color 0.25s, box-shadow 0.25s;
}

input[readonly] {
	background-color: $color-grey-lightest;
    cursor: not-allowed;
}

textarea {
	border-radius: $border-radius;
	display: block;
	min-height: 200px;
	padding: $spacing-small $spacing-default;
	width: 100%;

	background: $color-white;
	border: 1px solid $color-grey-light;
	color: $color-grey;
	resize: vertical;
	transition: border-color 0.25s, box-shadow 0.25s;
}

input[type="checkbox"] {
	display: none;

	@include active-states() {
		& + label {
			&:before {
				background-color: rgba($color-purple, 0.2);
			}
		}
	}

	& + label {
		margin-top: 0;
		padding-left: $spacing-default + $spacing-tiny;
		position: relative;

		border: 2px solid transparent;
		cursor: pointer;
		transition: 0.1s all ease;

		&:before {
			content: "";
			display: inline-block;
			height: $spacing-default;
			left: 0;
			position: absolute;
			top: 0;
			width: $spacing-default;

			border: 1px solid $color-purple;
			transition: background-color 0.2s ease;
		}
	}

	&:checked {
		& + label {
			&:before {
				align-items: center;
				content: "\f00c";
				display: flex;
				justify-content: center;

				background-color: $color-purple;
				color: $color-white;
				font-family: FontAwesome;
			}
		}
	}
}

input[type="radio"] {
	display: none;

	& + label {
		display: inline-block;
		margin-top: 0;
		padding: $spacing-tiny $spacing-small;
		position: relative;

		border: 2px solid transparent;
		cursor: pointer;
		transition: 0.1s all ease;
	}

	&:checked {
		& + label {
			background-color: $color-purple;
			border-color: $color-purple;
			color: $color-white;
			font-weight: $font-weight-bold;
		}
	}
}
