/**
 * -----------------------------------------------------------------------------
 * $MAIN
 * -----------------------------------------------------------------------------
 */

main {
    flex: 1;

    background-color: $color-white;
    color: $color-black;
}
