{{> header.signed-in}}

<article>
    <h1>Why we built Expelled Skateboarding</h1>
    <p>Congested parks and skate spots are hindering skateboarder’s progress, deterring them from taking part in the sport they love. With skateboarding now becoming an Olympic sport as of 2020, it is only going to expand its popularity.</p>
    <p>Expelled solves this problem, with an entirely designed multi-functioning social media website which gives skateboarders the platform to mark their own spots, and to discover places to skate through the use of our unique mapping system.</p>
    <p>The site allows partakers the power to express themselves through creative means such as videos, photos and blogs helping to generate an interactive community which is powered by skaters.</p>
    <img src="./assets/toolkit/images/photographs/skate-2.jpeg">
    <p>Expelled Skateboarding is an interactive website hybrid that can also be installed straight to an Android phone from the website without the need to access an app store or download a sizeable mobile application. This new method of interaction with applications is achieved through the use of PWA (Progressive Website Application) concepts which are shaking how mobile applications are conceptualised and challenging the industry to adopt new best practices to improve user experiences.</p>
    <p>Expelled not only wants to push the boundaries of how users can create content, but also the way in which software products are built and used by everyday consumers.</p>
</article>

{{> footer}}
