/**
 * -----------------------------------------------------------------------------
 * $BORDER
 * -----------------------------------------------------------------------------
 */

.border--circle {
    border-radius: 50%;
}
