/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

@import "partials/variables";
@import "partials/code";
@import "partials/color-chips";
@import "partials/controls";
@import "partials/item";
@import "partials/layout";
@import "partials/menu";

body {
	background-color: white !important;
	color: black !important;
}

body > p {
	max-width: 700px;
}
